.headerStyle {
    padding: 2rem;
        display: flex;
        justify-content:space-between;
        flex-direction: row;
        align-items: flex-start;
        background-color: #AC3B61;
        color: whitesmoke;
        border-bottom: 5px solid #EDC7B7;
        position: relative;
        top: 0;
        
}
.logoutBtn{
    border-radius: 25px;
    background-color: #ef581c;
    color: #EDC7B7;
}
.MenuBtn{
 
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.homeLink{
width: 40%;
justify-content: center;
align-items: center;
padding-left: 20%;
}