.footerStyle{
    padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background-color: #123C69;
        color: whitesmoke;
        border-bottom: 5px solid #EDC7B7;
        position: sticky;
        top: 0;
}